@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rock+Salt&display=swap');

details{
 
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f0f1d7;
    padding: 0px;
}

.home-title{
    color: #f0f1d7;
    margin-top: 10px;
    margin-bottom: 40px;
} 


.book:hover{
    color: #f0f1d7;
    background-color: #E8AA14;
}

.logo{
    width: 65px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid #E8AA14;
    padding: 5px;
    background-color: #f0f1d7;
    animation: wave 2.8s linear infinite;
}
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-20deg);

    }
    20% {
        transform: translate(0,-4px);
      }

    30% {
      transform: rotate(18deg);
    
    }
    40% {
        transform: translate(0,2px);
      }
    50% {
      transform: rotate(-22deg);
    }  
    60% {
      transform: translate(0,-4px);
    }
    70% {
      transform: rotate(16deg);
    }
    80%{
        transform: rotate(18deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }


#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;


}

.logo:hover{
    color:#0093A3;
    background-color: #0093A3;
    border: 8px solid #E8AA14 ;
  

}




#hero{
    margin: 0  auto;
    text-align: center;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    align-content: start;
    z-index: 6;

}

header{
    background-color: #2F6975;
    margin: 0 auto;
    margin-top: -150px;
    padding: 0 ;
    border: 0;
    width: 100%;
    display:grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 1fr;
    z-index: 20;
    position: fixed;
    opacity: 88%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    right:0;
    left: 0;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

body{
    margin: 0 auto;
    padding: 0;
    font-size: 22px;
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #f0f1d7;
}

h2{
    margin: 0;
}

nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    padding-top: 40px;
    width: 130px;
    border-radius: 200px;


    
}
nav a:hover{
    background-color: #E8AA14;
}

div{
    margin: 0 auto;
    padding: 0px;
}



main section{
    margin: 0  auto;
    text-align: center;
    padding-top: 150px;
} 


.icon{
    width: 80px;
    padding-top: 10px;
}


details{
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgb(2, 2, 2);
    justify-content: space-around;
    background: #0093A3;
    color: white;
    font-weight: bold;
    z-index: 5;
    
}


#box{
    width: 800px;
    padding-bottom: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    background:white;
    margin-top: 150px;
    text-align: left;
    margin-bottom: 200px;
    z-index: 10;
    position: relative;

    
   
    
 
   
}


.banner{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}
details>summary {
 
    list-style: none;
  }
summary::-webkit-details-marker {
    display: none;
    float: right;
  }
  
  summary::after {
    content: ' ►';
    float: right;
  }
  details[open] summary:after {
    content: " ▼";
  }


summary{
    font-weight:bold;
    text-shadow: 0px 5px 5px rgb(0, 0, 0);

}



main section{
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    scroll-margin-top: 150px;
} 

.heading{
    background:#2F6975;
    padding-bottom: 10px;
    border-radius: 5px;
    justify-self: center;
    text-align: center;
    font-family: Rock Salt;
    font-weight:bold;
    color: white;
    padding-top: 10px;
    text-shadow: 5px 5px 5px rgb(5, 5, 4);
}


#background{
    background-color: #2F6975;
    height: 725px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    grid-column: 1/11;
    grid-row: 4/7;
    z-index: 1;
}

footer{
    left: 0;
    right: 0;
    position: absolute;
    background-color: #2F6975;
    color:white;
    width: 100%;
    text-decoration: none;
    display: flex;
    z-index: 1;
    

    
}

.social{
    margin-top:30px;
}

.footer{
    color: white;
    background-color: #2F6975;
    text-decoration: none;
    padding: 50px;
    margin: 0;
}

.footer img{
    width: 20px;
    height: 20px;
}

.social a{
   
    color: #2F6975;

}

.footer a:hover{
    text-decoration: underline;
}

footer p{
   font-size: 1.2em;
   margin: 0;
}

 

@media screen and (max-width:900px) {
    #hero, .home-grid{
        display: block;
        height: auto;
    }
    nav, footer{
        flex-direction: column;
    }
    nav a{
        display: block;
        padding: 15px;
    }
    #hero{
        margin-top: 0;
    }
    #hero-msg{
        margin-top: 0;
    }
    #hero-msg h4{
        display: none;
    }
    .home-title{
        font-size: 25px;
        color: #f0f1d7;
    }
    .rivers-card, .camping-card, .rapids-card{
        margin: 50px auto;
        width: 60%;
    }
    #background{
        display: none;
    }
    .mountains, .msg{
        width: 80%;
        display: block;
        margin: 0 auto;

    }
    footer{
        margin-top: 25px;
    }
}
