#content{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f0f1d7;
}

.home-title{
    color: #2F6975;
}
.book{
    background-color: #2F6975;
    color: white;
    text-decoration: none;
}

.book:hover{
    background-color: #E8AA14;
}

.logo{
    width: 95px;
    height: 90px;
    border-radius: 50%;
    color: aqua;
    background-color: #E8AA14;
    padding: 5px;
}
.logo:hover{
    color:#0093A3 ; background-color:#0093A3;
}

#hero{
    margin: 0  auto;
    text-align: center;

}
#hero-img{
    width: 100%;
    height: 5%;
}

header{
    background-color: #2F6975;
    margin: 0 auto;
}
header a{
    color: white;
    text-decoration: none;

}
nav a:hover{
    background-color: #E8AA14;
}

main section{
    margin: 0  auto;
    text-align: center;
} 
.msg{
    margin: 0 auto;
    text-align: center;
    background-color: #2F6975;
    color: white;
}
.join{
    color: white;
    background-color: #0093A3;
    text-decoration: none;
    margin: 50px auto;
    height: 30px;
}
.join:hover{
    background-color:#E8AA14 ;
}

.icon{
    width: 80px;
}

#background{
    background-color: #2F6975;
    height: 725px;
}
footer{
    background-color: #2F6975;
    color:white
}

.footer{
    color: white;
    background-color: #2F6975;
    text-decoration: none;
}

.footer a:hover{
    background-color: #0093A3;
}
 /* *{
    border: 2px solid blue;
}   */
