@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Moon+Dance&family=PT+Serif&family=Reem+Kufi+Fun&family=Roboto:wght@100&family=Rowdies:wght@300&display=swap');

#all{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px;
}

nav {
    margin-right: -500px;
    align-self: center;
    justify-content: space-between;
    margin-top: 20px;
    
}


nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    position: relative;
    left: 8%;
  }
nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #347C13;
    transition: width 0.2s ease-in-out;
  }
  
nav  a:hover::before {
    width: 100%;
  }


.bb, .sc ,.tv{

    height: 300px;
    width: 400px;
}

.container3{
    position: relative;
    left:68%;
    margin-top: -295px;
    width: 60%;
    z-index: 50;
 
}

.container{
    position: relative;
    width: 60%;
    border-radius: 10px;
    margin-left: 30px;
    
}

.container2 {
    position: relative;
    left: 35%;
    margin-top: -296px;
    width: 60%;}


  
.sc,.bb, .tv {
    display: block;
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(27, 22, 22, 0.8);
    margin-right: -400px;
    
  }
  
.overlay, .overlay2,.overlay3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    overflow: hidden;
    height: 15%;
    transition: .5s ease;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
.container:hover .overlay {
    height: 60%;
  }
.container2:hover .overlay2 {
    height: 70%;}

.h1, .texta{
    text-align: left;
    font-size: 30px;
    font-family: PT Serif;
}

.container3:hover .overlay3 {

    height: 50%;}

  
.h2{
    text-align: left;
    font-size: 30px;
    font-family: PT Serif;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }



nav a{
    z-index: 21;
    font-size: 30px;
    margin-right: 120px;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    align-content: end;
}

.logo{
    height: 150px;
    width: 150px;
    margin-bottom: -125px;
   
   
    
}



@keyframes logo {
    0% {
      transform: transform(0deg);
    }
    10% {
      transform: translate(0,-30deg);

    }
    30% {
        transform: translate(0,20px);
      }

    50% {
      transform: translate(0,-30deg);
    
    }
    70% {
        transform: translate(0,10px);
      }
    90% {
      transform: translate(0,-30deg);
    } 
    100% {
      transform: translate(0,40deg);
    }
  }

.logo:hover{
    animation:logo 0.7s linear infinite;
}

header{
    background-color: rgb(0, 0, 0,0.8);
    border: 200px;
    grid-template-columns: repeat(2, 350px);
    display: grid;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 20px;
}
#bar{
    padding: 5px;
    /* background: linear-gradient(to right, #004B23 5% ,#347C13 15%, #ccff33 60%, #347C13 80%, #004B23 95%); */
    background: linear-gradient(to left,black 15%, #ccff33 60%, #347C13 80%, #004B23 90%);
    box-shadow: 5px  2px 5px ;
}

#scimg{
    z-index: -5;
    /* position: absolute; */
    /* width: 100%;
    height: 1200px;
    grid-row: 1/6;
    grid-column: 1/3;
    margin-top: -530px;
    margin-bottom: 220px; */
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: 1200px;
    margin-top: -50vh;

}

.ww{
    width: 100%;
    height: 120px;
    background-color: black;
    opacity: 80%;
    grid-row: 6/8;
    margin-top: 30px;
    z-index: 4;
    box-shadow: 5px 5px 5px;
}

.wwt {
    z-index: 5;
    font-size: 50px;
    padding-bottom: 50px;
    /* font-family: Reem Kufi Fun; */
    justify-self: center;
    margin-top: 150px;
    color: white;
    padding-right: 5px;
    /* background: linear-gradient(to right, #004B23 15%, black 50%, #004B23 70% ); */
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin-bottom: 300px;

    margin-top: 550px;
    text-align: center;
    justify-self: end;

   
}
.overwel{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    overflow: hidden;
    width: 100%;
    height: 15%;
    transition: .5s ease;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


body{
    margin: 0 auto;
    background-color: #363937;
    padding: 0px;
}
#grid{
    grid-template-columns: 1fr;
    display: grid;
    grid-template-rows: repeat(8,104px);

}

#footer{
    max-width: 1fr ;
    width: 100%;
    max-height: 300px;
    height: 100%;
    background-color: rgb(2, 2, 2);
    z-index: -5;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-right: -50px;
    margin-top: 500px;
    margin-bottom: -200px;
   
}
.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 5px;

}

.footer a{
    text-decoration: none;
    margin-left: 150px;
    color: white;
    display: inline-block;
}

.plan:hover{

    text-decoration: underline #347C13;

}


.left, .right{
    max-width: 90px;
    width: 100%;
    max-height: 300px;
    background-color: black;
}

#herodiv{
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 300px;
    width: 100%;
   
    

}

.heroi{grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 60%;
    z-index: -5;
    box-shadow: 5px 5px 20px ;
    


}

.left{
    grid-column: 1/2;
    grid-row: 1/3;
    opacity: 0.8;
    padding-bottom: 100px;
    box-shadow: 0px 0px 8px; 
}
.right{
    margin-top: 192px;
    grid-column: 3/4;
    justify-self: end;
    grid-row: 1/2;
    padding-bottom: 100px;
    z-index: 20;
    opacity: 0.8;
    box-shadow: 0px 0px 8px;
}

.visit{
    background: linear-gradient(to right,black 30%, #004B23 70%, #347C13 80%);
    width: 35%;
    justify-self: center;
    color: white;
    text-align: center;
    font-size: 25px;
    grid-row: 2/3;
    margin-top:-700px;
    height: 50px;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0,0.8);
    font-family: PT Serif;
}

#herodiv a{
    text-decoration: none;
    color: white;
    font-family: PT Serif;
}

.visit:hover{
    transform: scale(1.1);
    
    background:linear-gradient(to left,black 30%, #004B23 70%, #347C13 80%);
    transition: all .5s ease;

}

.social{
    text-decoration: none;
    opacity: 100%;
    position: relative;
    bottom: 10%;
    background-color: black;
    margin-top: 60px;
   
}
.social a{
    color: black;
}


.social img{
    width: 30px;
    height: 30px;
    opacity: 100%;
    justify-content: space-around;
    padding: 10px;  
    margin: 0 auto; 
    background-color: black;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 2px 2px 2px white;
}

.social img:hover{
    box-shadow: 2px 2px 2px #347C13;
    
}

.follow{
    position: relative;
    left: 38%;
    margin-top: -40px;
    font-size: 30px;
}
