@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Moon+Dance&family=PT+Serif&family=Reem+Kufi+Fun&family=Roboto:wght@100&family=Rowdies:wght@300&display=swap');


nav {
    margin-right: -500px;
    align-self: center;
    margin-left: 200;
    justify-content: space-between;
    margin-top: 20px;
    
}


nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    position: relative;
    left: 8%;
  }
nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #347C13;
    transition: width 0.2s ease-in-out;
  }
  
nav  a:hover::before {
    width: 100%;
  }
  
  
  #bar{
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 4.6em;
    padding: 5px;
    /* background: linear-gradient(to right, #004B23 5% ,#347C13 15%, #ccff33 60%, #347C13 80%, #004B23 95%); */
    background: linear-gradient(to left,black 15%, #ccff33 60%, #347C13 80%, #004B23 90%);
    box-shadow: 5px  2px 5px ;
    z-index: -1 ;
}


nav a{
    z-index: 21;
    font-size: 30px;
    margin-right: 120px;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    align-content: end;
}

.logo{
    height: 150px;
    width: 150px;
    margin-bottom: -125px;
   
   
    
}

.gps{
  position: relative;
  display:inline-flex;
  background: rgb(0, 0, 0,0.8);
  z-index: 2;
  margin-top: 200px;
  margin-left: 50px;
 

}
.gps p{
  color: white;
  text-align: center;
  font-size: 25px;
  align-self: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: PT Serif;
}
.gps img{
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 20px white;
  z-index: 2;

}

.ticket{
  z-index: 10;
  color: white;
  background: linear-gradient(to right,black 30%,#347C13 100%);
  text-align: center;
  width: 12%;
  margin-left: 650px;
  padding: 30px;
  border-radius: 20px;
  border: 1px #fff;
  font-family: PT Serif;
  font-size: 18px;

  border: solid 0.5px white;
  /* background: transparent; */
  transition: .3s ease-in;
  background-origin: left;
  
  
}

.ticket:hover{
  transform:scale(1.1);
  box-shadow: 0px 0px 30px #347C13;
  background: #347C13;
  background

}
.gps-img:hover{
  transform: scale(1.1);
}
.park{
  position: relative;
  display:inline-flex;
  background: rgb(0, 0, 0,0.8);
  z-index: 1;
  margin-top: 35px;
  margin-right: 50px;
  
  
}
.park p{
  color: white;
  text-align: center;
  font-size: 25px;
  align-self: center;
  margin-left: 100px;
  margin-right: 100px;
  font-family: PT Serif;
}

.park img{
  box-shadow: 0px 0px 15px white;
  position: relative;
}
.prom{
  background-color: rgb(0, 0, 0);
  display: inline-flex;
  position: relative;
  z-index: 5;
  margin-top: 20px;
  margin-left: 50px;
}
.prom img{
  width: 900px;
  height: 400px;
  box-shadow: 0px 0px 15px white;

  
}

.prom p{
color: white;
font-size: 25px ;
align-self: center;
margin-left: 100px;
  margin-right: 100px;
  font-family: PT Serif;

}

.prom img:hover{
  transform: scale(1.1);
}

.park img:hover{
  transform: scale(1.1);
}

img{
  max-width: 1000px;
  max-height: 400px;

} 



@keyframes logo {
    0% {
      transform: transform(0deg);
    }
    10% {
      transform: translate(0,-30deg);

    }
    30% {
        transform: translate(0,20px);
      }

    50% {
      transform: translate(0,-30deg);
    
    }
    70% {
        transform: translate(0,10px);
      }
    90% {
      transform: translate(0,-30deg);
    } 
    100% {
      transform: translate(0,40deg);
    }
  }

.logo:hover{
    animation:logo 0.7s linear infinite;
}

header{
  background-color: rgb(0, 0, 0,0.8);
  grid-template-columns: repeat(2, 350px);
  display: grid;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 20px;
  position: absolute;
  left: 0;
  top: 0;
}




body{

    max-width: 1600px;
    margin: 0 auto;
    background-color: black;
    padding: 0px;
}



#footer{
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 300px;
  background-color: #000000;
  z-index: -5;
  color: white;
  margin: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
    box-shadow: 0px 0px 20px #347C13;
   
}
.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 0;
    text-decoration: none;
   
  

}
.plan{
    text-decoration: none;
    margin-left: 150px;
    color: white;
}


.social{
    text-decoration: none;
    opacity: 100%;
    position: relative;
    bottom: 10%;
    background-color: black;
    margin-top: 60px;
   
}
.social a{
    color: black;
}

.social img{
    width: 30px;
    height: 30px;
    opacity: 100%;
    justify-content: space-around;
    padding: 10px;  
    margin: 0 auto; 
    background-color: black;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #347C13;
}

.social img{
  width: 30px;
  height: 30px;
  opacity: 100%;
  justify-content: space-around;
  padding: 10px;  
  margin: 0 auto; 
  background-color: black;
  color: black;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 2px 2px 2px white;
}


.plan:hover{

text-decoration: underline #347C13;

}

.social img:hover{
box-shadow: 2px 2px 2px #347C13;

}


