

.container {
    position: relative;
    width:50%;
  }
  
.img {
    display: block;
    width: 30%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    height: 10%;
  }
  
.container:hover .overlay {
    height: 50%;
  }

.overlay p{
    position: absolute;
    overflow: hidden;
    margin-top: 150px;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center
  }

*{
    border: 0.1px solid blue;
}