div{
    display: grid;
    grid-template-columns: auto 1fr  auto 1fr;
    border: 0px;
    margin: 0px;
    text-align: center;
}

#background{
    background-color:grey;
    grid-column: 2/5;
    grid-row: 1/5;
    height: 700px;


}
#img{
    grid-column: 1;
    grid-row: 1/5;

}
#p1{
    grid-column: 1/5;
    grid-row: 2/3;
    z-index: 1;
    font-size: 180px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    align-self: flex-start;
   position: static;
   text-align: center;
}   
#p2{
    grid-column: 3/4;
    grid-row: 3;
    z-index: 1;
    font-size: 60px;
    color: rgb(135, 9, 35);
    font-size: 80px;
    margin: 0 auto;   
    text-align: center;
    width: 100%;
    padding-bottom: 150px;
}

body{
    margin: 0;
}

/* *{
    border: 2px solid blue;
} */