@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}