
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html, body{
    height: 100%;
}


.logo{
    font-size: 2em;
    color: white;
    user-select: none;
    
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(2, 2, 2, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;


}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 3%;
    top: 95%;
    background: white;
    border-radius: 5px;
    /* transform-origin: right;  */
    transform: scaleX(0);
    transition: transform .3s;
}
/* *{
    border: solid 1px blue;
} */
.navigation a:hover::after{
    /* transform-origin: left; */
    transform: scale(1);
}
nav a{
    color: white;
    margin: 20px;
    font-size: 1.1em;
    position: relative;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    font-size:1.5em;
}

.login{
    width: 130px;
    height: 50px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s;
    font-size: 1em;
}

.login:hover{
    background: white;
    color: black;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    
    background-color: transparent;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 30px rgba(0, 0, 0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: .2s ease;
    overflow: hidden; 
    transform: scale(0);
   
}

.wrapper.active-pop{
    transform: scale(1);
}


.registerlin{
    color: black;
    text-decoration: none;
}
.registerlin:hover{
    text-decoration: underline;
}
.loglin{
    color: black;
    text-decoration: none;
}
.loglin:hover{
    text-decoration: underline;
}

.wrapper.active{
    height: 520px;
}

.formbox{
    transition: .20s ease;
    transform: translateX(0);
}
.wrapper.active .formbox{
    transition: none;
    transform: translateX(-400px);

}
.container1.active-pop{
    transform: scaleX(0);
}
.wrapper.active .formboxreg{
    position: absolute;
    transition: .20s ease;
    transform: translateX(0);
}


.wrapper .formboxreg{
    position: absolute;
    transition: .20s ease;
    transform: translateX(400px); 
}
.remember a{
    font-size: 1em;
    font-weight: 500;
    justify-self: start;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 0 5px 15px rgba(0, 0, 0,0.8);
    font-weight: 800;

   
}

.remember{
    display: flex;
    margin: -10px 0 15px;
    
}

.remember label{
    margin-left: 10px;
    color: white;
    box-shadow: 2px 2px 15px rgb(2, 2, 2, 0.8);
    padding: 5px;
    border-radius: 6px;
    text-shadow: 0 5px 10px rgba(0, 0, 0);
    

}

.remember a:hover{
    text-decoration: underline;
}

.formbox h2{
    font-size: 2em;
    text-align: center;
    margin-top: -60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;

}


.ipbox{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.ipbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-weight: 500;
    transition: .5s;
    font-size: 1em;
    font-weight: 800;
    
}
.remember label{
    font-size: 1em;
    font-weight: 800;
    justify-self: start;
    margin-right: 20px;
}
.ipbox input:focus~label,
.ipbox input:valid~label{
    top: 5px;
}
.lbutton{
    margin-top: 10px;
    width: 100%;
    height: 50%;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    transition: .5s;
    cursor: pointer;
}

.lbutton:hover{
    background-color: rgba(255, 255, 255,0.5);
    color: black;
}

.ipbox input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    position: relative;
    top: -10px;
}
.login-regis{
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    font-weight: 900;
    position: relative;

    text-align: center;
    margin-top: 10px;
    margin-right: 58px;
    
}

.register{

    text-decoration:none;
    margin-left: 5px;
    font-size: 1em;
    font-weight: 1000;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.register:hover{
    text-decoration: underline;
}
.icon{
   
    position: relative;
    width: 100%;
    top:50%;
    left: 90%;

}
.iconclose{
    position: absolute;
    top:0;
    right: 0;
    height: 45px;
    width: 50px;
    background: black;
    color: white;
    text-align: center;
    font-size: 35px;
    border-bottom-left-radius: 25px;
    align-self: center;
    cursor: pointer;
}

.formboxreg h2{
margin-bottom: -18px;
}

.container1{
    position:absolute;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    left: 5%;
    top: 20%;
    transition: .4s ease-in;
    margin-bottom: 300px;
}
.ima{
    width: 550px;
    height: 550px;
    right: 5%;
    top: 10%;
    transition: .5s ease-in-out;
    animation: ima 5s infinite;
}
.imb{
    position: relative;
    width: 60px;
    height: 60px;
    right: 50.7%;
    top: 43%;
    animation: imb 5s infinite;
    
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2%;
    top: 10%;
}

@keyframes imb {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(18deg);

    }
    20% {
        transform: scale(0.1);
      }

    30% {
      transform: rotate(-18deg);
    
    }
    40% {
        
      }
    50% {
      transform: rotate(18deg);
    }  
    60% {
      transform: rotate(-19deg);
    }
    70% {
      transform: rotate(16deg);
    }
    80%{
        transform: rotate(-18deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }

@keyframes ima {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-18deg);

    }
    20% {
        transform: scale(1.2                   );
      }

    30% {
      transform: rotate(18deg);
    
    }
    40% {
        
      }
    50% {
      transform: rotate(-18deg);
    }  
    60% {
      transform: rotate(19deg);
    }
    70% {
      transform: rotate(16deg); 
    }
    80%{
        transform: rotate(18deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
.text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.container1 .text h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
    text-shadow: 0 2px 20px rgba(0, 0, 0);

  
}

.future{
    font-size: 8.5em;
    margin-bottom: 10px;
    line-height: 1em;
    
    font-weight: 1000;
    text-shadow: 0 2px 20px rgba(0, 255, 255);
    color: #fff;
    position: relative;
    animation: animate 3s steps(12) infinite;
    transition: 0.5s ease-in-out; 


}


@keyframes animate {
    0% {
      left: -100%; /* updated */
      border-right: 4px solid rgba(0, 255, 255);
    }
    40% {
      left: 0%;
      border-right: none;
    }
    60% {
      left: 0%;
      border-right: 4px solid rgba(0, 255, 255);
      
    }
    100% {
      left: -100%; /* updated */
      border-right: none;
    }
  }

.effec{
    overflow: hidden;
    border-left: 4px solid rgba(0, 255, 255)
   
}

.effec h2{
    margin-left: 20px;
}


.future{
    content: '';
    position: relative;
    width: 100%;
    height: 30%;
    overflow: hidden;
    
    
}


.container1 .text h2 span{
    font-size: 3.5em;
    text-shadow: 0 2px 20px rgba(0, 255, 255);

}
.container1 .text p{
    color: #fff;
    margin-top: 50px;
}
.joinus{
    position: relative;
    display: inline-flex;
    margin-top: 50px;
    padding: 10px 25px;
    background: black;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    transition: .3s ease-in-out;
    ;
    left: 50%;
    margin-bottom: 40px;

}

.joinus:hover{
    background: rgba(0, 255, 255);
    box-shadow: 0 2px 20px rgba(0, 255, 255); 
    color: black;
    font-weight: 700;
    /* transform: translateY(-10px); */
    transform: scale(1.1);
}


body{
    background-image: url('future.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(2, 2, 2, 0.8);
    color: white;
    text-align: center;
    margin-top: 0px;
    height: 70px;
    

}





