body{
    text-align: center;
}
nav{
    background-color: steelblue;
    padding: 10px;
}
a { color: white;
    margin: 20px;
    font-size: 1.5em   ;

}
h1 { text-align: center;
    color:steelblue;
}
img{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    border: 4px solid steelblue;
}
p{
    
    width: 80%;
}
footer, nav{
    background-color: steelblue;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.main-para {
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5em;          
}
.para1{
    text-align: center;
    margin: 0
    auto;
}

a:hover{
    background-color: white;
    color: steelblue;
}
/* 
*{border: 2px solid blue;} */